@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary:#00FF7F;
    --accent:#000000;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

.navbar{
    position: relative;
    top: -240px;
    border-radius: 40px;
    border-color: var(--primary) !important;
    padding: 0px 0px 0px 90px !important;
}

.navbar-text{
    position: relative;
    left: -90px;
    font-size: 20px !important;
}

.navbar-menu{
    position: relative;
    left: -20px;
    
}


.menu-icon{
    width: 55px;
    color: #fff !important;
    border-color: #fff !important;
}
.menu-icon-2{
    width: 30px !important;
}


.menu-list{
    position: relative;
    left: -60px;
}

.main-text>h2{
    position: relative;
    top: 80px;
    font-size: 35px !important;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

#text-animate{
    color: var(--primary) !important;
}

.main-text>p{
        position: relative;
        bottom: -150px;
        font-size: 15px;
        color: #000000;
}